@font-face {
  font-family: "JetBrainsMono";
  src: url("../font/JetBrainsMono-VariableFont_wght.ttf");
}

#app .markdown-body {

  font-family: "JetBrainsMono";

  & pre.hljs {
    font-family: "JetBrainsMono";
    background: #262626;

    & code {
      font-family: "JetBrainsMono";
    }
  }
}

#toc {
  ol {
    padding-left: 0;
  }

  .toc-list-item {
    list-style: none;

    &.is-active-li {
      background-color: aquamarine;
    }
  }

  & a {
    text-decoration: none;
    transition: all .6s;

    &:hover {
      color: #1e1e1e;
    }
  }
}
